@use "./breakpoints";
@use "./mixins.scss";

$primary-blue-color: #004e98;
$secondary-blue-color: #3a6ea5;
$primary-orange-color: #ff6700;
$primary-grey-color: #ebebeb;
$secondary-grey-color: #ccc5b9;
$primary-black-color: #252422;
$primary-white-background: #ffffff;
$primary-blue-hover-background: #d8f6ff;
$primary-grey-background: #f7f7f8;
$full-width: 100%;
$font-bold: bold;

%primary-font {
    color: $primary-black-color;
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

%primary-section-style {
    display: flex;
    flex-direction: row;
}

%full-width-100vh-height {
    width: 100%;
    height: 100vh;
}

* {
    @extend %primary-font;
}

body {
    @extend %primary-section-style;
    width: $full-width;
    flex-wrap: wrap;
    background-color: $primary-white-background;
    margin: 0;
}

%primary-theme {
    background-color: $primary-white-background;
}

.navbar {
    @extend %primary-section-style;
    justify-content: flex-end;
    background-color: $primary-white-background;
    border-bottom: 2px solid lightgrey;
    align-items: center;
    flex-wrap: nowrap;
    color: black;
    width: $full-width;
    z-index: 2;

    transition: 2s;
    position: fixed;
    top: 0;

    @include mixins.mobile {
        justify-content: space-evenly;
    }
    @include mixins.tablet {
        justify-content: space-evenly;
    }
    @include mixins.laptop {
        justify-content: flex-end;
    }
}

.navbar-style {
    list-style-type: none;
    @extend %primary-section-style;
    justify-content: flex-end;
    margin: 0;
    padding: 10px;

    @include mixins.mobile {
        padding: 5px;
    }

    &__li {
        font-size: 20px;

        @include mixins.mobile {
            font-size: 14px;
        }
        @include mixins.tablet {
            font-size: 18px;
        }
        @include mixins.laptop {
            font-size: 20px;
        }
    }

    &__a {
        text-decoration: none;
    }
}

.navbar-style__a:hover {
    background-color: $primary-grey-background;
}

.home {
    @extend %primary-section-style;
    @extend %full-width-100vh-height;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 15%;

    &__intro-header {
        display: flex;
        justify-content: flex-start;
        width: $full-width;
        font-size: 40px;
        margin: 0;
        font-weight: $font-bold;

        @include mixins.mobile {
            font-size: 27px;
        }
        @include mixins.tablet {
            font-size: 33px;
        }
        @include mixins.laptop {
            font-size: 50px;
        }
    }

    &__intro-para {
        display: flex;
        justify-content: flex-start;
        width: $full-width;
        font-size: 25px;

        @include mixins.mobile {
            font-size: 15px;
        }
        @include mixins.tablet {
            font-size: 20px;
        }
        @include mixins.laptop {
            font-size: 26px;
        }
    }
}

.about {
    width: 100%;
    height: 100vh;
    background-color: $primary-grey-background;
    @extend %primary-section-style;
    @extend %full-width-100vh-height;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    flex-wrap: wrap;

    @include mixins.mobile {
        height: fit-content;
    }
    @include mixins.tablet {
        height: fit-content;
    }

    &__header {
        color: $primary-blue-color;
        font-weight: $font-bold;

        @include mixins.mobile {
            font-size: 17px;
        }
        @include mixins.tablet {
            font-size: 28px;
        }
    }

    &__para {
        font-size: 17px;
        @include mixins.mobile {
            font-size: 12px;
        }
        @include mixins.tablet {
            font-size: 19px;
        }
        @include mixins.laptop {
            font-size: 20px;
        }
    }

    &__div {
        width: 40%;
        padding: 10px;

        @include mixins.mobile {
            width: 100%;
        }
        @include mixins.tablet {
            width: 100%;
        }

        @include mixins.laptop {
            width: 70%;
        }

        &--align-img {
            @include mixins.laptop {
                display: flex;
                justify-content: center;
            }
        }

        &--whtback {
            display: flex;
            justify-content: center;
            background-color: white;
            width: 40%;
            padding-bottom: 64px;
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),
                0 6px 20px 0 rgb(0 0 0 / 19%);
        }
    }

    &__img {
        border-radius: 50%;
        width: 75%;
        height: 75%;
        @include mixins.laptop {
            width: 65%;
            height: 65%;
        }
    }
}

.skills {
    @extend %primary-section-style;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: $full-width;
    background-color: $primary-white-background;
    margin-left: 30px;
    margin-top: 30px;

    @include mixins.mobile {
        width: 85%;
        height: fit-content;
        gap: 5%;
        margin-bottom: 15px;
    }
    @include mixins.tablet {
        height: fit-content;
        gap: 5%;
        margin-bottom: 15px;
    }

    &__div {
        display: flex;

        &--img {
            flex-direction: row;
        }
    }
    &__header {
        @extend %primary-section-style;
        justify-content: flex-start;
        align-items: flex-start;
        width: $full-width;

        @include mixins.mobile {
            font-size: 17px;
        }

        @include mixins.tablet {
        }

        &--title {
            color: $primary-blue-color;
            font-weight: $font-bold;
        }
    }
    &__skills-list {
        display: flex;
        filter: grayscale(100%);
    }

    &--img {
        filter: grayscale(100%);
        width: 25%;
    }
}

.skills-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: $full-width;
    height: 60%;
    gap: 4%;
    align-items: center;
    align-content: center;

    @include mixins.mobile {
        gap: 5px;
    }
    @include mixins.tablet {
        gap: 5px;
    }
}

.skills-img {
    width: 10%;
    filter: grayscale(100%);
    margin-left: 10%;
}

.skills-para {
    margin-right: 40%;
    font-weight: $font-bold;

    @include mixins.mobile {
        font-size: 12px;
    }
}

.skill-card {
    width: 30%;
    flex-wrap: nowrap;
    border: 1px solid #a3a3a6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-grey-background;
    border-radius: 8%;
    gap: 32%;

    @include mixins.mobile {
        width: 75%;
    }
    @include mixins.tablet {
        width: 60%;
    }
}

.skill-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.projects-section {
    @extend %primary-section-style;
    width: $full-width;
    height: fit-content;
    background-color: $primary-grey-background;
    flex-wrap: wrap;
}

.project__header {
    margin-left: 6%;
    margin-top: 8%;

    &--title {
        font-weight: $font-bold;
        color: $secondary-blue-color;

        @include mixins.mobile {
            font-size: 17px;
        }
    }
}
.projects-list {
    @extend %primary-section-style;

    gap: 15px;

    padding: 70px;
    width: $full-width;
    height: fit-content;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    width: 30%;
    height: fit-content;
    border-radius: 5%;
    border: 2px solid rgb(233 226 226);
    background-color: $primary-white-background;
    text-align: center;

    @include mixins.mobile {
        width: 100%;
    }
    @include mixins.tablet {
        width: 80%;
    }

    &--img {
        width: $full-width;
        border-radius: 5%;
    }

    &__text {
        padding: 2px 16px;
        font-weight: $font-bold;
        border-radius: 10%;
        background: #f7f7f8;
        font-size: 18px;
        @include mixins.mobile {
            font-size: 12px;
        }
    }
}
.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.contact {
    @extend %primary-section-style;
    width: $full-width;
    height: 500px;
    justify-content: center;

    background-color: $primary-white-background;
    flex-wrap: wrap;

    @include mixins.mobile {
        height: 80vh;
    }
}

.contact__intro {
    width: $full-width;
    margin-left: 6%;
    margin-top: 8%;

    &--header {
        font-size: 36px;
        font-weight: $font-bold;

        @include mixins.mobile {
            font-size: 24px;
        }
        @include mixins.tablet {
            font-size: 32px;
        }
    }

    &--para {
        margin: 0;
        font-size: 20px;

        @include mixins.mobile {
            font-size: 17px;
        }
        @include mixins.tablet {
            font-size: 19px;
        }
    }
}

.contact-types {
    @extend %primary-section-style;
    width: $full-width;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @include mixins.mobile {
        justify-content: flex-start;
        margin-left: 15px;
    }
    @include mixins.tablet {
        margin-left: 25px;
    }
    @include mixins.laptop {
        margin-left: 50px;
    }
}

.contact-box {
    display: flex;
    justify-content: space-between;

    @include mixins.mobile {
        width: 100%;
    }
    @include mixins.tablet {
        width: 100%;
    }
    @include mixins.laptop {
        width: 100%;
    }
}

.contact-box--items {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-weight: $font-bold;
    font-size: 22px;

    @include mixins.mobile {
        font-size: 20px !important;
    }
    @include mixins.tablet {
        font-size: 18px !important;
    }
    @include mixins.laptop {
        font-size: 22px !important;
    }

    :visited {
        background-color: black;
    }
}

.contact-box:visited {
    color: $secondary-blue-color;
}

.footer-style {
    background-color: $primary-white-background;
    color: $primary-black-color;
    text-align: center;
    width: $full-width;
    padding: 7px;
    @include mixins.mobile {
        font-size: 12px;
    }
}
