$primary-blue-color: #004e98;
$secondary-blue-color: #3a6ea5;
$primary-orange-color: #ff6700;
$primary-grey-color: #ebebeb;
$secondary-grey-color: #ccc5b9;
$primary-black-color: #252422;
$primary-white-background: #fffcf2;
$primary-grey-background: #c0c0c0;

.primary-theme {
    background-color: $primary-white-background;
    color: $primary-black-color;
}
