@use "./mixins.scss";

$secondary-blue-color: #3a6ea5;
$primary-grey-background: #f7f7f8;
$full-width: 100%;
$width-40: 40%;

//questions for Remi
//can we use placeholders inside of a mixin?
//can we use @extend in mixins?
//can we use mixin inside of a mixin

//display:flex; justify-content: center

.about {
    width: $full-width;
    height: 100vh;
    background-color: $primary-grey-background;
    @include mixins.primary-section-style;
    @include mixins.full-width-100vh-height;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    flex-wrap: wrap;

    @include mixins.mobile {
        height: fit-content;
    }
    @include mixins.tablet {
        height: fit-content;
    }

    &__header {
        color: $secondary-blue-color;
        font-weight: $font-bold;

        @include mixins.mobile {
            font-size: 17px;
        }
        @include mixins.tablet {
            font-size: 28px;
        }
    }

    &__para {
        font-size: 17px;
        @include mixins.mobile {
            font-size: 12px;
        }
        @include mixins.tablet {
            font-size: 19px;
        }
        @include mixins.laptop {
            font-size: 20px;
        }
    }

    &__div {
        width: $width-40;
        padding: 10px;

        @include mixins.mobile {
            width: $full-width;
        }
        @include mixins.tablet {
            width: $full-width;
        }

        @include mixins.laptop {
            width: 70%;
        }

        &--align-img {
            @include mixins.laptop {
                display: flex;
                justify-content: center;
            }
        }

        &--whtback {
            display: flex;
            justify-content: center;
            background-color: white;
            width: $width-40;
            padding-bottom: 64px;
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),
                0 6px 20px 0 rgb(0 0 0 / 19%);
        }
    }

    &__img {
        border-radius: 50%;
        width: 75%;
        height: 75%;
        @include mixins.laptop {
            width: 65%;
            height: 65%;
        }
    }
}
