@use "./mixins.scss";

$secondary-blue-color: #3a6ea5;
$primary-white-background: #ffffff;
$full-width: 100%;
$font-bold: bold;

.contact {
    @include mixins.primary-section-style;
    width: $full-width;
    height: 500px;
    justify-content: center;

    background-color: $primary-white-background;
    flex-wrap: wrap;

    @include mixins.mobile {
        height: 80vh;
    }
    @include mixins.tv {
        height: 600px;
    }
}

.contact__intro {
    width: $full-width;
    margin-left: 6%;
    margin-top: 8%;

    &--header {
        font-size: 36px;
        font-weight: $font-bold;

        @include mixins.mobile {
            font-size: 24px;
        }
        @include mixins.tablet {
            font-size: 32px;
        }
        @include mixins.tv {
            font-size: 44px;
        }
    }

    &--para {
        margin: 0;
        font-size: 20px;

        @include mixins.mobile {
            font-size: 17px;
        }
        @include mixins.tablet {
            font-size: 19px;
        }
        @include mixins.tv {
            font-size: 24px;
        }
    }
}

.contact-types {
    @include mixins.primary-section-style;
    width: $full-width;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @include mixins.mobile {
        justify-content: flex-start;
        margin-left: 15px;
    }
    @include mixins.tablet {
        margin-left: 25px;
    }
    @include mixins.laptop {
        margin-left: 50px;
    }
}

.contact-box {
    display: flex;
    justify-content: space-between;

    &:visited {
        color: $secondary-blue-color !important;
    }

    @include mixins.mobile {
        width: 100%;
    }
    @include mixins.tablet {
        width: 100%;
    }
    @include mixins.laptop {
        width: 100%;
    }
}

.contact-box--items {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-weight: $font-bold;
    font-size: 22px;

    @include mixins.mobile {
        font-size: 20px !important;
    }
    @include mixins.tablet {
        font-size: 18px !important;
    }
    @include mixins.laptop {
        font-size: 22px !important;
    }

    :visited {
        background-color: $secondary-blue-color !important;

        //test if this is working
    }
}
