@use "./mixins.scss";

$secondary-blue-color: #3a6ea5;
$primary-white-background: #ffffff;
$full-width: 100%;
$font-bold: bold;

.contact-types {
    @include mixins.primary-section-style;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-left: 2px;
    gap: 20px;

    @include mixins.mobile {
        justify-content: flex-start;
        gap: 30px;
    }
    @include mixins.tablet {
        gap: 24px;
    }
    @include mixins.laptop {
    }
    @include mixins.tv {
        gap: 41px;
        margin-left: 5px;
    }

    &__contact-box {
        display: flex;
        justify-content: space-between;

        &--text-decor {
            text-decoration: none;
            @include mixins.mobile {
                font-size: 13px !important;
            }
            @include mixins.tablet {
                font-size: 18px !important;
            }
            @include mixins.laptop {
                font-size: 22px !important;
            }
            @include mixins.tv {
                font-size: 20px;
            }
        }
    }
}
