@use "./mixins.scss";

$full-width: 100%;
$font-bold: bold;

.home {
    @include mixins.primary-section-style;
    @include mixins.full-width-100vh-height;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-bottom: 0;

    &__intro-header {
        display: flex;
        justify-content: flex-start;
        width: $full-width;
        font-size: 40px;
        margin: 0;
        font-weight: $font-bold;

        @include mixins.mobile {
            height: 100vh;
            font-size: 34px;
        }
        @include mixins.tablet {
            font-size: 41px;
        }
        @include mixins.laptop {
            font-size: 50px;
        }
        @include mixins.desktop {
            font-size: 45px;
        }
        @include mixins.tv {
            font-size: 50px;
        }
    }

    &__intro-para {
        display: flex;
        justify-content: flex-start;
        width: $full-width;
        font-size: 25px;

        @include mixins.mobile {
            font-size: 19px;
        }
        @include mixins.tablet {
            font-size: 25px;
        }
        @include mixins.laptop {
            font-size: 26px;
        }
        @include mixins.desktop {
            font-size: 27px;
        }
        @include mixins.tv {
            font-size: 30px;
        }
    }
}

.custom-shape-divider-bottom-1679290071 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679290071 svg {
    position: relative;
    display: block;
    width: calc(151% + 1.3px);
    height: 192px;
}

.custom-shape-divider-bottom-1679290071 .shape-fill {
    fill: $primary-grey-background;
}
