@use "./breakpoints";

@mixin primary-font {
    color: #252422;
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin primary-section-style {
    display: flex;
    flex-direction: row;
}

@mixin full-width-100vh-height {
    width: 100%;
    height: 100vh;
}
@mixin primary-theme {
    background-color: #ffffff;
}

@mixin mobile {
    @media only screen and (max-width: breakpoints.$mobile-width) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: (breakpoints.$mobile-width+1px)) and (max-width: (breakpoints.$tablet-width)) {
        @content;
    }
}

@mixin laptop {
    @media only screen and (min-width: (breakpoints.$tablet-width+1px)) and (max-width: (breakpoints.$laptop-width)) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: (breakpoints.$laptop-width+1px)) and (max-width: (breakpoints.$desktop-width)) {
        @content;
    }
}

@mixin tv {
    @media only screen and (min-width: (breakpoints.$desktop-width)) {
        @content;
    }
}
