@use "./mixins.scss";

$primary-blue-color: #004e98;
$primary-white-background: #ffffff;
$primary-grey-background: #f7f7f8;
$full-width: 100%;
$font-bold: bold;
$align-center: center;

//need a better code cleanup

.skills {
    @include mixins.primary-section-style;
    position: relative;
    justify-content: center;
    align-items: $align-center;
    flex-wrap: wrap;
    width: $full-width;
    background-color: $primary-white-background;
    margin: 0;

    @include mixins.mobile {
        width: 100%;
        height: fit-content;
        gap: 5%;
    }
    @include mixins.tablet {
        height: fit-content;
        gap: 5%;
    }
    @include mixins.laptop {
    }
    @include mixins.desktop {
    }
    @include mixins.tv {
    }

    &__div {
        display: flex;

        &--img {
            flex-direction: row;
        }
    }
    &__header {
        @include mixins.primary-section-style;
        margin-left: 30px;
        margin-top: 64px;
        justify-content: flex-start;
        align-items: flex-start;
        width: $full-width;

        @include mixins.mobile {
            font-size: 22px;
            margin-bottom: 20px;
        }

        @include mixins.tablet {
            margin-bottom: 30px;
        }
        @include mixins.tv {
            font-size: 35px;
            height: 0;
        }

        &--title {
            color: $primary-blue-color;
            font-weight: $font-bold;
        }
    }
    &__skills-list {
        display: flex;
        filter: grayscale(100%);
    }

    &--img {
        filter: grayscale(100%);
        width: 25%;
    }
}

.skills-list {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: $full-width;
    height: 30%;
    gap: 4%;
    align-items: $align-center;
    align-content: center;
    margin-bottom: 100px;
    justify-content: space-evenly;

    @include mixins.mobile {
        gap: 5px;
        margin-bottom: 150px;
        height: 291px;
        align-content: center;
    }
    @include mixins.tablet {
        gap: 10px;
        height: 35vh;
        margin-bottom: 160px;
    }
    @include mixins.laptop {
    }
    @include mixins.desktop {
        height: 30%;
        width: 70%;
    }
    @include mixins.tv {
        height: 35%;
        width: 60%;
    }
}

.skills-img {
    width: 10%;
    filter: grayscale(100%);
    margin-left: 10%;

    @include mixins.tv {
        width: 18%;
    }
}

.skills-para {
    margin-right: 40%;
    font-weight: $font-bold;

    @include mixins.mobile {
        font-size: 12px;
    }
    @include mixins.tv {
        margin-right: 42%;
        margin-left: 7%;
    }

    &--link {
        text-decoration: none;
    }
}

.skill-card {
    width: 30%;
    flex-wrap: nowrap;
    border: 1px solid #a3a3a6;
    display: flex;
    justify-content: space-between;
    align-items: $align-center;
    background-color: $primary-grey-background;
    border-radius: 8%;
    gap: 32%;

    @include mixins.mobile {
        width: 47%;
        gap: 20%;
    }
    @include mixins.tablet {
        width: 40%;
    }
    @include mixins.tv {
        font-size: 25px;
        padding: 10px;
        width: 28%;
        gap: 40px;
    }
}

.skill-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.custom-shape-divider-top-1679296503 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1679296503 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 155px;
}

.custom-shape-divider-top-1679296503 .shape-fill {
    fill: $primary-grey-background;
}
.custom-shape-divider-top-1679298226 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1679298226 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 112px;
}

.custom-shape-divider-top-1679298226 .shape-fill {
    fill: $primary-grey-background;
}
.custom-shape-divider-bottom-1679298953 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679298953 svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 119px;
}

.custom-shape-divider-bottom-1679298953 .shape-fill {
    fill: $primary-grey-background;
}
