.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #ffffff;
  border-bottom: 2px solid lightgrey;
  align-items: center;
  flex-wrap: nowrap;
  color: #252422;
  width: 100%;
  z-index: 2;
  transition: 2s;
  position: fixed;
  top: 0;
}
@media only screen and (max-width: 480px) {
  .navbar {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    justify-content: flex-end;
  }
}

.navbar-style {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 10px;
}
@media only screen and (max-width: 480px) {
  .navbar-style {
    padding: 5px;
    gap: 16px;
  }
}
@media only screen and (min-width: 1201px) {
  .navbar-style {
    gap: 26px;
  }
}
.navbar-style__li {
  font-size: 22px;
}
@media only screen and (max-width: 480px) {
  .navbar-style__li {
    font-size: 18px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar-style__li {
    font-size: 21px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar-style__li {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1201px) {
  .navbar-style__li {
    font-size: 20px;
  }
}
.navbar-style__a {
  text-decoration: none;
}

.navbar-style__a:hover {
  background-color: #f7f7f8;
}

.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 15%;
}
.home__intro-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .home__intro-header {
    font-size: 34px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .home__intro-header {
    font-size: 41px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .home__intro-header {
    font-size: 50px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .home__intro-header {
    font-size: 45px;
  }
}
@media only screen and (min-width: 1201px) {
  .home__intro-header {
    font-size: 50px;
  }
}
.home__intro-para {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 25px;
}
@media only screen and (max-width: 480px) {
  .home__intro-para {
    font-size: 19px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .home__intro-para {
    font-size: 25px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .home__intro-para {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .home__intro-para {
    font-size: 27px;
  }
}
@media only screen and (min-width: 1201px) {
  .home__intro-para {
    font-size: 30px;
  }
}

.custom-shape-divider-bottom-1679290071 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679290071 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 192px;
}

.custom-shape-divider-bottom-1679290071 .shape-fill {
  fill: #f7f7f8;
}

.about {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f8;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  flex-wrap: wrap;
  position: relative;
}
@media only screen and (max-width: 480px) {
  .about {
    height: fit-content;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about {
    height: fit-content;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about {
    height: fit-content;
  }
}
@media only screen and (min-width: 1201px) {
  .about {
    height: fit-content;
  }
}
.about__header {
  color: #3a6ea5;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .about__header {
    font-size: 22px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about__header {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1201px) {
  .about__header {
    font-size: 35px;
  }
}
.about__para {
  font-size: 17px;
}
@media only screen and (max-width: 480px) {
  .about__para {
    font-size: 15px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about__para {
    font-size: 19px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__para {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1201px) {
  .about__para {
    font-size: 25px;
  }
}
.about__div {
  width: 40%;
  padding: 10px;
}
@media only screen and (max-width: 480px) {
  .about__div {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about__div {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__div {
    width: 70%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__div--align-img {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about__div--align-img {
    display: flex;
    justify-content: center;
  }
}
.about__div--whtback {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 40%;
  padding-bottom: 64px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about__img {
  border-radius: 50%;
  width: 75%;
  height: 75%;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__img {
    width: 65%;
    height: 65%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about__img {
    width: 53%;
    height: 53%;
  }
}

.skills {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #ffffff;
  margin: 0;
}
@media only screen and (max-width: 480px) {
  .skills {
    width: 100%;
    height: fit-content;
    gap: 5%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .skills {
    height: fit-content;
    gap: 5%;
  }
}
.skills__div {
  display: flex;
}
.skills__div--img {
  flex-direction: row;
}
.skills__header {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 64px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .skills__header {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .skills__header {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1201px) {
  .skills__header {
    font-size: 35px;
    height: 0;
  }
}
.skills__header--title {
  color: #004e98;
  font-weight: bold;
}
.skills__skills-list {
  display: flex;
  filter: grayscale(100%);
}
.skills--img {
  filter: grayscale(100%);
  width: 25%;
}

.skills-list {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  gap: 4%;
  align-items: center;
  align-content: center;
  margin-bottom: 100px;
  justify-content: space-evenly;
}
@media only screen and (max-width: 480px) {
  .skills-list {
    gap: 5px;
    margin-bottom: 150px;
    height: 291px;
    align-content: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .skills-list {
    gap: 10px;
    height: 35vh;
    margin-bottom: 160px;
    width: 52%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .skills-list {
    height: 30%;
    width: 70%;
  }
}
@media only screen and (min-width: 1201px) {
  .skills-list {
    height: 35%;
    width: 60%;
  }
}

.skills-img {
  width: 10%;
  filter: grayscale(100%);
  margin-left: 10%;
}
@media only screen and (min-width: 1201px) {
  .skills-img {
    width: 18%;
  }
}

.skills-para {
  margin-right: 40%;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .skills-para {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1201px) {
  .skills-para {
    margin-right: 42%;
    margin-left: 7%;
  }
}
.skills-para--link {
  text-decoration: none;
}

.skill-card {
  width: 30%;
  flex-wrap: nowrap;
  border: 1px solid #a3a3a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f8;
  border-radius: 8%;
  gap: 32%;
}
@media only screen and (max-width: 480px) {
  .skill-card {
    width: 47%;
    gap: 20%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .skill-card {
    width: 40%;
    gap: 10%;
  }
}
@media only screen and (min-width: 1201px) {
  .skill-card {
    font-size: 25px;
    padding: 10px;
    width: 28%;
    gap: 40px;
  }
}

.skill-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.custom-shape-divider-top-1679296503 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1679296503 svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 155px;
}

.custom-shape-divider-top-1679296503 .shape-fill {
  fill: #f7f7f8;
}

.custom-shape-divider-top-1679298226 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1679298226 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 112px;
}

.custom-shape-divider-top-1679298226 .shape-fill {
  fill: #f7f7f8;
}

.custom-shape-divider-bottom-1679298953 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679298953 svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 119px;
}

.custom-shape-divider-bottom-1679298953 .shape-fill {
  fill: #f7f7f8;
}

.projects-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  background-color: #f7f7f8;
  flex-wrap: wrap;
  position: relative;
}
@media only screen and (max-width: 480px) {
  .projects-section {
    gap: 20px;
  }
}

.project__header {
  margin-left: 6%;
  margin-top: 8%;
}
.project__header--title {
  font-weight: bold;
  color: #3a6ea5;
}
@media only screen and (max-width: 480px) {
  .project__header--title {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1201px) {
  .project__header--title {
    font-size: 35px;
  }
}

.projects-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 70px;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
}
@media only screen and (max-width: 480px) {
  .projects-list {
    padding: 22px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .projects-list {
    align-content: space-evenly;
  }
}
@media only screen and (min-width: 1201px) {
  .projects-list {
    gap: 20px;
  }
}

.project-card {
  width: 30%;
  height: fit-content;
  border-radius: 5%;
  border: 2px solid rgb(233, 226, 226);
  background-color: #ffffff;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .project-card {
    width: 45%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .project-card {
    width: 44%;
  }
}
@media only screen and (min-width: 1201px) {
  .project-card {
    width: 25%;
  }
}
.project-card--img {
  width: 100%;
  border-radius: 5%;
}
.project-card__text {
  padding: 2px 16px;
  font-weight: bold;
  border-radius: 10%;
  background: #f7f7f8;
  font-size: 18px;
}
@media only screen and (max-width: 480px) {
  .project-card__text {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1201px) {
  .project-card__text {
    font-size: 23px;
  }
}

.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.contact-types {
  display: flex;
  flex-direction: row;
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin-left: 2px;
  gap: 20px;
}
@media only screen and (max-width: 480px) {
  .contact-types {
    justify-content: flex-start;
    gap: 30px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-types {
    gap: 24px;
  }
}
@media only screen and (min-width: 1201px) {
  .contact-types {
    gap: 41px;
    margin-left: 5px;
  }
}
.contact-types__contact-box {
  display: flex;
  justify-content: space-between;
}
.contact-types__contact-box--text-decor {
  text-decoration: none;
}
@media only screen and (max-width: 480px) {
  .contact-types__contact-box--text-decor {
    font-size: 13px !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-types__contact-box--text-decor {
    font-size: 18px !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contact-types__contact-box--text-decor {
    font-size: 22px !important;
  }
}
@media only screen and (min-width: 1201px) {
  .contact-types__contact-box--text-decor {
    font-size: 20px;
  }
}

* {
  color: #252422;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin: 0;
}

.footer-style {
  background-color: #f7f7f8;
  color: #252422;
  text-align: center;
  width: 100%;
  padding: 7px;
}
@media only screen and (max-width: 480px) {
  .footer-style {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1201px) {
  .footer-style {
    font-size: 18px;
  }
}
