.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #ffffff;
  border-bottom: 2px solid lightgrey;
  align-items: center;
  flex-wrap: nowrap;
  color: #252422;
  width: 100%;
  z-index: 2;
  transition: 2s;
  position: fixed;
  top: 0;
}
@media only screen and (max-width: 480px) {
  .navbar {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    justify-content: flex-end;
  }
}

.navbar-style {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 10px;
}
@media only screen and (max-width: 480px) {
  .navbar-style {
    padding: 5px;
  }
}
.navbar-style__li {
  font-size: 20px;
}
@media only screen and (max-width: 480px) {
  .navbar-style__li {
    font-size: 14px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar-style__li {
    font-size: 18px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar-style__li {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .navbar-style__li {
    font-size: 23px;
  }
}
.navbar-style__a {
  text-decoration: none;
}

.navbar-style__a:hover {
  background-color: #f7f7f8;
}

.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 15%;
}
.home__intro-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .home__intro-header {
    font-size: 27px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .home__intro-header {
    font-size: 33px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .home__intro-header {
    font-size: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .home__intro-header {
    font-size: 65px;
  }
}
.home__intro-para {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 25px;
}
@media only screen and (max-width: 480px) {
  .home__intro-para {
    font-size: 15px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .home__intro-para {
    font-size: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .home__intro-para {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1200px) {
  .home__intro-para {
    font-size: 37px;
  }
}

.about {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f8;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 480px) {
  .about {
    height: fit-content;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about {
    height: fit-content;
  }
}
.about__header {
  color: #3a6ea5;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .about__header {
    font-size: 17px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about__header {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .about__header {
    font-size: 35px;
  }
}
.about__para {
  font-size: 17px;
}
@media only screen and (max-width: 480px) {
  .about__para {
    font-size: 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about__para {
    font-size: 19px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__para {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .about__para {
    font-size: 25px;
  }
}
.about__div {
  width: 40%;
  padding: 10px;
}
@media only screen and (max-width: 480px) {
  .about__div {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about__div {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__div {
    width: 70%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__div--align-img {
    display: flex;
    justify-content: center;
  }
}
.about__div--whtback {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 40%;
  padding-bottom: 64px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about__img {
  border-radius: 50%;
  width: 75%;
  height: 75%;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about__img {
    width: 65%;
    height: 65%;
  }
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #ffffff;
  margin-left: 30px;
  margin-top: 30px;
}
@media only screen and (max-width: 480px) {
  .skills {
    width: 85%;
    height: fit-content;
    gap: 5%;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .skills {
    height: fit-content;
    gap: 5%;
    margin-bottom: 15px;
  }
}
.skills__div {
  display: flex;
}
.skills__div--img {
  flex-direction: row;
}
.skills__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .skills__header {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1200px) {
  .skills__header {
    font-size: 35px;
  }
}
.skills__header--title {
  color: #004e98;
  font-weight: bold;
}
.skills__skills-list {
  display: flex;
  filter: grayscale(100%);
}
.skills--img {
  filter: grayscale(100%);
  width: 25%;
}

.skills-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 60%;
  gap: 4%;
  align-items: center;
  align-content: center;
}
@media only screen and (max-width: 480px) {
  .skills-list {
    gap: 5px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .skills-list {
    gap: 5px;
  }
}

.skills-img {
  width: 10%;
  filter: grayscale(100%);
  margin-left: 10%;
}

.skills-para {
  margin-right: 40%;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .skills-para {
    font-size: 12px;
  }
}

.skill-card {
  width: 30%;
  flex-wrap: nowrap;
  border: 1px solid #a3a3a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f8;
  border-radius: 8%;
  gap: 32%;
}
@media only screen and (max-width: 480px) {
  .skill-card {
    width: 75%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .skill-card {
    width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  .skill-card {
    font-size: 25px;
    padding: 10px;
  }
}

.skill-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.projects-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  background-color: #f7f7f8;
  flex-wrap: wrap;
}

.project__header {
  margin-left: 6%;
  margin-top: 8%;
}
.project__header--title {
  font-weight: bold;
  color: #3a6ea5;
}
@media only screen and (max-width: 480px) {
  .project__header--title {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1200px) {
  .project__header--title {
    font-size: 35px;
  }
}

.projects-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 70px;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
}
@media only screen and (min-width: 1200px) {
  .projects-list {
    gap: 20px;
  }
}

.project-card {
  width: 30%;
  height: fit-content;
  border-radius: 5%;
  border: 2px solid rgb(233, 226, 226);
  background-color: #ffffff;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .project-card {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .project-card {
    width: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  .project-card {
    width: 25%;
  }
}
.project-card--img {
  width: 100%;
  border-radius: 5%;
}
.project-card__text {
  padding: 2px 16px;
  font-weight: bold;
  border-radius: 10%;
  background: #f7f7f8;
  font-size: 18px;
}
@media only screen and (max-width: 480px) {
  .project-card__text {
    font-size: 12px;
  }
}

.project-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  justify-content: center;
  background-color: #ffffff;
  flex-wrap: wrap;
}
@media only screen and (max-width: 480px) {
  .contact {
    height: 80vh;
  }
}
@media only screen and (min-width: 1200px) {
  .contact {
    height: 600px;
  }
}

.contact__intro {
  width: 100%;
  margin-left: 6%;
  margin-top: 8%;
}
.contact__intro--header {
  font-size: 36px;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .contact__intro--header {
    font-size: 24px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact__intro--header {
    font-size: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .contact__intro--header {
    font-size: 44px;
  }
}
.contact__intro--para {
  margin: 0;
  font-size: 20px;
}
@media only screen and (max-width: 480px) {
  .contact__intro--para {
    font-size: 17px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact__intro--para {
    font-size: 19px;
  }
}
@media only screen and (min-width: 1200px) {
  .contact__intro--para {
    font-size: 24px;
  }
}

.contact-types {
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media only screen and (max-width: 480px) {
  .contact-types {
    justify-content: flex-start;
    margin-left: 15px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-types {
    margin-left: 25px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contact-types {
    margin-left: 50px;
  }
}

.contact-box {
  display: flex;
  justify-content: space-between;
}
.contact-box:visited {
  color: #3a6ea5 !important;
}
@media only screen and (max-width: 480px) {
  .contact-box {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-box {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contact-box {
    width: 100%;
  }
}

.contact-box--items {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
@media only screen and (max-width: 480px) {
  .contact-box--items {
    font-size: 20px !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-box--items {
    font-size: 18px !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contact-box--items {
    font-size: 22px !important;
  }
}
.contact-box--items :visited {
  background-color: #3a6ea5 !important;
}

* {
  color: #252422;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin: 0;
}

.footer-style {
  background-color: #ffffff;
  color: #252422;
  text-align: center;
  width: 100%;
  padding: 7px;
}
@media only screen and (max-width: 480px) {
  .footer-style {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-style {
    font-size: 18px;
  }
}
